<!-- blog/index.html -->
{% extends "App/base.html" %}

{% block title %}投稿一覧 | {{ block.super }}{% endblock %}
{% block description %}マイブログです。毎日更新します。{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h1 class="mb-4">投稿一覧</h1>
      {% include "App/snippets/main_post_list.html" %}
      {% include "App/snippets/pagination.html" %}
    </main>
    <aside class="col-md-4">
      {% include "App/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9285945653188146"
     crossorigin="anonymous"></script>