{% extends "App/base.html" %}
{% block title %}{% if query %}{{ query }}{% endif %} | {{ block.super }}{% endblock %}
{% block description %}検索ワード「{% if query %}{{ query }}{% endif %}」での検索結果ページです。{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <main class="col-md-8 text-light">
        <h1>{{ object.title }}</h1>
        <p>作成日:{{ object.created_at| date:'y/m/d H:i:s' }}</p>
        <p>更新日:{{ object.published_at| date:'y/m/d H:i:s' }}</p>
        <hr style="background-color: white">
        
        {% for tag in object.tags.all %}
          {% if "日本" == tag.name %}
            {% with "App/snippets/"|add:tag.name|add:"/01.html" as title_template %}
              {% include title_template %}
            {% endwith %}
          {% else %}
          {% with "App/snippets/it/01.html" as title_template %}
            {% include title_template %}
          {% endwith %}
          {% endif %}
        {% endfor %}

        {{ object.content|safe }}
        {% if object.image %}
            <img src="{{ object.image.url }}" width="512" height="360" alt="やきとり"/>
        {% endif %}
        <hr>
        <p>
            {% for tag in object.tags.all %}
            #<a href="{% url 'App:tag_post' tag.slug %}" class="card-link">{{ tag.name }}</a>
            {% endfor %}
        </p>
        <hr>
        {% include "App/snippets/pagination.html" %}
      </main>
      <aside class="col-md-4">
        {% include "App/snippets/sidebar.html" %}
      </aside>
    </div>
  </div>
{% endblock %}